.main {
  display: flex;
  flex-direction: column;
}
.main_hide{
  display: none;
}
.loader{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.spinner {
  --accent: fuchsia;
  --max-scale: 4;
  --speed: 0.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.3em;
  -webkit-transform: skew(15deg, 10deg);
      -ms-transform: skew(15deg, 10deg);
          transform: skew(15deg, 10deg);
 }
 
 .spinner span {
  display: block;
  background-color: var(--accent);
  -webkit-box-shadow: 1px 1px 5px 0.2px var(--accent);
          box-shadow: 1px 1px 5px 0.2px var(--accent);
  width: 0.7px;
  height: 0.6em;
 }
 
 .spinner .spinner_part_0 {
  -webkit-animation: load432 calc(1s/var(--speed)) linear infinite;
          animation: load432 calc(1s/var(--speed)) linear infinite;
 }
 
 .spinner .spinner_part_1 {
  -webkit-animation: load432 calc(0.16s/var(--speed)) linear infinite;
          animation: load432 calc(0.16s/var(--speed)) linear infinite;
 }
 
 .spinner .spinner_part_2 {
  -webkit-animation: load432 calc(0.4s/var(--speed)) linear infinite;
          animation: load432 calc(0.4s/var(--speed)) linear infinite;
 }
 
 .spinner .spinner_part_3 {
  -webkit-animation: load432 calc(0.5s/var(--speed)) linear infinite;
          animation: load432 calc(0.5s/var(--speed)) linear infinite;
 }
 
 @-webkit-keyframes load432 {
  50% {
   -webkit-transform: scaleY(var(--max-scale));
           transform: scaleY(var(--max-scale));
  }
 }
 
 @keyframes load432 {
  50% {
   -webkit-transform: scaleY(var(--max-scale));
           transform: scaleY(var(--max-scale));
  }
 }
 
/* Mobile */
@media (max-width: 700px) {

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {

}
